body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    }
.contenedor {
    display: flex;
    flex-direction: row;
    }
.header {
    text-align: center;
    padding: 10px;
    font-family: arial;
    background-color: #f1f1f1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    }
.nav {
    padding: 10px;
    font-family: arial;
    text-align: center;
    display:block;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    }
.aside {
    width: 200px;
    padding: 10px;
    background: linear-gradient( to bottom , rgb(255, 0, 0) , rgb(255, 148, 61));
    }
.main {
    padding: 10px;
    background: linear-gradient(to right , rgb(255, 0, 0) , rgb(255, 148, 61));
    width: 100vw;
    }
.footer {
    text-align: center;
    padding: 10px;
    font-family: arial;
    background-color: #f1f1f1;
    }
.button {
    padding: 1em 2em;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: 5px;
    text-transform: uppercase;
    cursor: pointer;
    color: red;
    transition: all 1000ms;
    font-size: 15px;
    position: relative;
    overflow: hidden;
    outline: 2px solid red;
}

button:hover {
    color: #ffffff;
    transform: scale(1.1);
    outline: 2px solid red;
    box-shadow: 4px 5px 17px -4px red;
}

button::before {
    content: "";
    position: absolute;
    left: -50px;
    top: 0;
    width: 0;
    height: 100%;
    background-color:red;
    transform: skewX(45deg);
    z-index: -1;
    transition: width 1000ms;
}

button:hover::before {
    width: 250%;
}
.img {
    width: 70px;
    height: auto;
    float: left;
}
.barra {
    width: 100px; 
    height: auto;
}