* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
body {
    font-family: sans-serif;
    }
.header {
    background: linear-gradient(to bottom, rgb(0, 183, 255), rgb(31, 64, 250));
    width: auto;
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    }
.logo {
    justify-content: left;
    padding: 10px;
    }
.rs {
    justify-content: right;
    padding: 10px;
    margin: 10px;
    }
.titulo {
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
    flex-grow: 1;
    text-align: center;
    }
.button {
    padding: 1em 2em;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: 5px;
    text-transform: uppercase;
    cursor: pointer;
    color: rgb(0, 183, 255);
    transition: all 1000ms;
    font-size: 15px;
    position: relative;
    overflow: hidden;
    outline: 2px solid rgb(0, 183, 255);
    }

button:hover {
    color: #ffffff;
    transform: scale(1.1);
    outline: 2px solid rgb(0, 183, 255);
    box-shadow: 4px 5px 17px -4px rgb(0, 183, 255);
    }

button::before {
    content: "";
    position: absolute;
    left: -50px;
    top: 0;
    width: 0;
    height: 100%;
    background-color:rgb(0, 183, 255);
    transform: skewX(45deg);
    z-index: -1;
    transition: width 1000ms;
    }

button:hover::before {
    width: 250%;
    }
.nav {
    padding: 10px;
    font-family: arial;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    }
.aside {
    background: linear-gradient(to right, rgb(0, 183, 255), rgb(31, 64, 250));
    height: 100vh;
    width: 10vw;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    border-radius: 20px;
}
.footer {
    text-align: center;
    padding: 10px;
    font-family: arial;
    background-color: #f1f1f1;
    }
.div {
    display: flex;
    flex-direction: row;
}
.iframe {
    width: 90vw;
    height: 96vh;
    border: 1px solid black;
    border-radius: 20px;
}