* {
    scroll-behavior: smooth;
}
a {
    display: block;
}
.bolita {
    background-color: red;
    opacity: 50%;
    width: 50vh;
    height: 100vh;
    border-radius: 50%;
    position: relative;
        left: calc(50vw - 150px);
        top: calc(50vh - 300px);
}