* {
    margin: 0;
    padding: 0;
}
.contenedor {
    display: flex;
    flex-direction: row;
}
.div-top {
    width: auto;
    height: 20vh;
    background-color: aqua;
    border: solid 5px black;
    border-radius: 15px;
    text-align: center;
}
.div-left {
    width: 30vw;
    height: 60vh;
    background-color: red;
    border: dashed 5px black;
    border-radius: 15px;
    text-align: center;
}
.div-right {
    width: 70vw;
    height: 60vh;
    background-color: green;
    border: dotted 5px black;
    border-radius: 15px;
    text-align: center;
}
.div-bottom {
    width: auto;
    height: 20vh;
    background-color: yellow;
    border: double 6px black;
    border-radius: 15px;
    text-align: center;
}
.home {
    margin: 20px;
    padding: 10px 20px;
    background-color: white;
    color: black;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
}
.home:hover {
    background-color: black;
    color: white;
}