* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to right, rgb(85, 193, 197), rgb(78, 143, 163));
    color: black;
}
h1 {
    text-align: center;
    margin: 20px 0;
}
form {
    max-width: 40vw;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px black;
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    text-align: center;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="color"],
input[type="genero"],

select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid grey;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 16px;
}

input[type="submit"],
input[type="reset"] {
    padding: 10px 20px;
    color: white;
    background-color: grey;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
    margin: 5px;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
    background: linear-gradient(to right, rgb(85, 193, 197), rgb(78, 143, 163));
}

input[type=color] {
    padding: 5px;
    height: 40px;
    width: 100%;
    border: none;
    cursor: pointer;
}
textarea {
    width: 100%;
    padding: 10px;
    border: 2px solid grey;
    border-radius: 10px;
    resize: vertical;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}
fieldset {
    text-align: center;
    padding: 10px;
}
legend {
    font-weight: bold;
}
#phone_number, #birthdate {
    text-align: center;
    width: 100%;
}
.button {
    padding: 10px 20px;
    color: white;
    background-color: grey;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
    margin: 5px;
}
.button:hover {
    background: linear-gradient(to right, rgb(85, 193, 197), rgb(78, 143, 163));
}