table, th, td {
    border:1px solid rgb(0, 0, 0);
    border-collapse: collapse;
    padding: 8px;
    text-align: center;
    background-color: rgb(166, 209, 138);
    font-family: cursive;
}
p {
    font-family: Courier;
    color: rgb(230, 67, 252);
    font-size: 16px;
}
.apw {
    background-color: pink;
    font-family: sans-serif;
    color: green;
    font-size: 20px;
}
.dig {
    background-color: red;
}
.ser {
    background-color: aqua;
}
.sor {
    background-color: brown;
}
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}